/* You can add global styles to this file, and also import other style files */
@import url("assets/css/nullstyle.css");

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: rgb(21, 21, 121);
}
